/*
* Author:  Dani Matuko
* License: MIT License
* Website: https://github.com/danimatuko
*/
/* Variabls */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
h1 {
  color: #007bff;
}

h2 {
  color: #6c757d;
}

/* import Roboto from goole fonts */
/* Reset CSS */
/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin and padding reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* List style reset */
ol,
ul {
  list-style: none;
}

/* Typography reset */
body,
button,
input,
select,
textarea {
  font-family: "Roboto", Arial, sans-serif;
}

/* Reset anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default outline styles */
button,
input,
select,
textarea {
  outline: none;
}

/* Remove default border styles */
button,
input,
select,
textarea {
  border: none;
}

/* Remove default background styles */
button,
input,
select,
textarea {
  background-color: transparent;
}

/* Set default box-shadow to none */
button,
input,
select,
textarea {
  box-shadow: none;
}

/* Optionally, add your own additional customizations and styles below */
