/**
 * File: _colors.scss
 * Author: Dani Matuko
 * Created: May 20, 2023
 *
 * Description: This Sass partial defines color classes for text and background colors,
 * along with various shades of the colors using the mix() function.
 * It generates classes based on the specified color variables map.
 */

// Color Classes
@each $key, $val in $colors {
  // Text Color
  .text-#{$key} {
    color: #{$val};
  }

  // Background Color
  .bg-#{$key} {
    background-color: #{$val};
  }

  // do not include shades for $dark and $light colors
  @if ($val!= $dark and $val != $light) {
    // Lighten Shades
    @for $i from 1 through 9 {
      // Text Color
      .text-#{$key}-lighten-#{$i} {
        color: mix(white, $val, $i * 10 * 1%);
      }

      // Background Color
      .bg-#{$key}-lighten-#{$i} {
        background-color: mix(white, $val, $i * 10 * 1%);
      }
    }

    // Darken Shades
    @for $i from 1 through 9 {
      // Text Color
      .text-#{$key}-darken-#{$i} {
        color: mix(black, $val, $i * 10 * 1%);
      }

      // Background Color
      .bg-#{$key}-darken-#{$i} {
        background-color: mix(black, $val, $i * 10 * 1%);
      }
    }
  }
}
