/**
 * File: _utilities.scss
 * Author: Dani Matuko
 * Created: May 22, 2023
 *
 * Description: This Sass partial defines utility classes for common CSS properties
 * such as padding, margin, opacity, border-radius, display, and font-size.
 * It generates classes based on the specified utility map.
 */

@use "sass:math";

$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": $padding-base,
      "2": $padding-base * 2,
      "3": $padding-base * 4,
      "4": $padding-base * 6,
      "5": $padding-base * 8,
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": $padding-base,
      "2": $padding-base * 2,
      "3": $padding-base * 4,
      "4": $padding-base * 6,
      "5": $padding-base * 8,
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": $padding-base,
      "2": $padding-base * 2,
      "3": $padding-base * 4,
      "4": $padding-base * 6,
      "5": $padding-base * 8,
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": $padding-base,
      "2": $padding-base * 2,
      "3": $padding-base * 4,
      "4": $padding-base * 6,
      "5": $padding-base * 8,
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": $padding-base,
      "2": $padding-base * 2,
      "3": $padding-base * 4,
      "4": $padding-base * 6,
      "5": $padding-base * 8,
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "0": 0,
      "1": $margin-base,
      "2": $margin-base * 2,
      "3": $margin-base * 4,
      "4": $margin-base * 6,
      "5": $margin-base * 8,
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "1": $margin-base,
      "2": $margin-base * 2,
      "3": $margin-base * 4,
      "4": $margin-base * 6,
      "5": $margin-base * 8,
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "1": $margin-base,
      "2": $margin-base * 2,
      "3": $margin-base * 4,
      "4": $margin-base * 6,
      "5": $margin-base * 8,
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "1": $margin-base,
      "2": $margin-base * 2,
      "3": $margin-base * 4,
      "4": $margin-base * 6,
      "5": $margin-base * 8,
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": $margin-base,
      "2": $margin-base * 2,
      "3": $margin-base * 4,
      "4": $margin-base * 6,
      "5": $margin-base * 8,
    ),
  ),

  "opacity": (
    "prefix": "o",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border-radius": (
    "prefix": "br",
    "values": (
      "default": $border-radius-base,
      "none": 0,
      "xs": math.div($border-radius-base, 4),
      "sm": math.div($border-radius-base, 2),
      "lg": $border-radius-base * 2,
      "full": 50%,
    ),
  ),
  "display": (
    "prefix": "display",
    "values": (
      "n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "i-b": inline-block,
    ),
  ),
  "font-size": (
    "prefix": "font",
    "values": (
      "sm": $font-size-base * 0.8,
      "md": $font-size-base,
      "lg": $font-size-base * 1.25,
      "xl": $font-size-base * 1.825,
      "xxl": $font-size-base * 2,
    ),
  ),
);

/**
 * Generate Utility Classes for {$property}
 *
 * This loop generates utility classes for the given property.
 * It iterates over the sizes and values defined in the `$values` map.
 */
@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");
  /**
   * Utility class for {$property} with size {$size}.
   *
   * @class .{$prefix}-{$size}
   */
  @each $size, $value in $values {
    .#{$prefix}-#{$size} {
      #{$property}: $value;
    }
  }
}
