/* Variabls */
$primary: #007bff;
$secondary: #6c757d;
$error: #dc3545;
$info: #17a2b8;
$blue: #0000ff;
$red: #ff0000;
$green: #00ff00;
$yellow: #ffff00;
$purple: #6f42c1;
$orange: #ff7f00;
$gray: #adb5bd;
$dark: #343a40;
$light: #f8f9fa;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": $blue,
  "red": $red,
  "green": $green,
  "yellow": $yellow,
  "purple": $purple,
  "orange": $orange,
  "gray": $gray,
  "dark": $dark,
  "light": $light,
);

$margin-base: 1rem;
$padding-base: 1rem;
$border-base: 1px solid #ccc;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$font-size-base: 1rem;

//typography

// Font Size Variables
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-md: $font-size-base * 1.25;
$font-size-lg: $font-size-base * 1.5;

// Border Variables
$border-base: 1px;
$border-sm: $border-base * 0.75;
$border-md: $border-base * 2;
$border-lg: $border-base * 3;

// Border Radius Variables
$border-radius-base: 20px;
$border-radius-sm: $border-radius-base * 0.75;
$border-radius-md: $border-radius-base * 1;
$border-radius-lg: $border-radius-base * 1.25;

h1 {
  color: $primary;
}

h2 {
  color: $secondary;
}
