/* Variabls */

// colors
$primary: #5f79f9 !default;
$secondary: #c2c2c2 !default;
$info: #4299E1 !default;
$success: #23d160 !default;
$warning: #f5c404 !default;
$danger: #ff3860 !default;
$dark: #363636 !default;
$light: #f5f5f5 !default;

// spacin
$margin-base: 10px !default;
$padding-base: 10px !default;

// box shadow
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !default;
$box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.1) !default;
$font-size-base: 1rem !default;
// Container (max-width)
$container-sm: 640px !default;
$container-md: 768px !default;
$container-lg: 1024px !default;
$container-xl: 1440px !default;

// Font Size
$font-size-base: 1rem !default;
$font-size-sm: 0.875rem !default;
$font-size-md: 1.125rem !default;
$font-size-lg: 1.25rem !default;

// Border
$border-base: 1px !default;
$border-sm: $border-base * 0.75 !default;
$border-md: $border-base * 2 !default;
$border-lg: $border-base * 3 !default;

// Border Radius
$border-radius-base: 20px !default;
$border-radius-sm: $border-radius-base * 0.75 !default;
$border-radius-md: $border-radius-base * 1 !default;
$border-radius-lg: $border-radius-base * 1.25 !default;
