/**
 * File: _buttons.scss
 * Author: Dani Matuko
 * Created: May 20, 2023
 *
 * Description: This Sass partial contains the main styles for the buttons.
 */

/**
 * Mixin: btn
 * Parameters:
 *   $bg-color (optional): Background color of the button. Default: #e2e2e2
 * Description: This mixin applies styles for a basic button.
 */
@mixin btn($bg-color: #e2e2e2) {
  display: inline-block;
  padding: $padding-base;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 0;
  background-color: $bg-color;
  border-radius: $border-radius-base;
}

/**
   * Class: .btn
   * Description: Styles for the default button.
   */
.btn {
  @include btn;
}

@each $key, $val in $colors {
  /**
     * Class: .btn-#{$key}
     * Description: Styles for the button with the specified color.
     */
  .btn-#{$key} {
    @include btn($val);

    &:hover {
      background-color: lighten($color: $val, $amount: 10);
    }
  }

  /**
     * Class: .btn-outlined-#{$key}
     * Description: Styles for the outlined button with the specified color.
     */
  .btn-outlined-#{$key} {
    @include btn($light);
    border: $border-base solid;

    &:hover {
      background-color: $val;
      color: $light;
      border: 0;
    }
  }
}
