.flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  @extend .flex-layout;

  padding: $padding-base $padding-base * 2;
  box-shadow: $box-shadow-base;

  .container {
    @extend .flex-layout;
  }

  ul {
    @extend .flex-layout;
    justify-content: flex-end;
    gap: 1rem;
  }

  .site-title {
    font-size: $font-size-lg;
    width: inherit;
  }
}

@each $key, $val in $colors {
  .nav-#{$key} {
    @extend .nav;
    background-color: $val;
  }
}
