@use "sass:color";

%btn {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid $primary;
  border-radius: 4px;
  color: $light;
  background-color: $primary;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  &:hover {
    background-color: lighten($primary, 10%);
    border-color: lighten($primary, 10%);
  }
}

.btn {
  @extend %btn;
}

$button-size: (
  sm: 0.3125rem 0.625rem,
  md: 0.625rem 1.25rem,
  lg: 1.25rem 2.5rem,
);

@each $size, $value in $button-size {
  .btn-#{$size} {
    padding: $value;
  }
}

@each $color, $value in $colors {
  .btn-#{$color} {
    background-color: $value;
    border-color: $value;
    &:hover {
      background-color: lighten($value, 10%);
      border-color: lighten($value, 10%);
    }
  }
}
