%btn {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: $light;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #ddd;
  }
}

.btn {
  @extend %btn;
}

$button-size: (
  sm: 0.3125rem 0.625rem,
  md: 0.625rem 1.25rem,
  lg: 1.25rem 2.5rem,
  xl: 1.875rem 3.75rem,
);

@each $size, $value in $button-size {
  .btn-#{$size} {
    padding: $value;
  }
}

@each $color, $val in $colors {
  .btn-#{$color} {
    background-color: $val;
  }
}
