/**
 * File: _typography.scss
 * Author: Dani Matuko
 * Created: May 24, 2023
 *
 * Description: This Sass partial defines common typography styles such as font families, font sizes,
 * font weights, line heights, text colors, and text transformations. It also includes mixins for applying
 * typography styles and provides default styles for headings (h1-h6) and paragraphs (p).
 */

/* Headings */

html {
  font-size: $font-size-sm;

  @include breakpoint("xs") {
    font-size: 0.85rem;
  }
  @include breakpoint("md") {
    font-size: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

// Variables
$heading-font-family: Roboto, sans-serif;
$heading-font-weight: 400;

// Mixins
@mixin heading($size) {
  font-family: $heading-font-family;
  color: $dark;
  font-weight: $heading-font-weight;
  font-size: $size;
}

// Heading styles
h1 {
  @include heading(2.5rem);
}

h2 {
  @include heading(2rem);
}

h3 {
  @include heading(1.75rem);
}

h4 {
  @include heading(1.5rem);
}

h5 {
  @include heading(1.25rem);
}

h6 {
  @include heading(1.125rem);
}

$fonts: (
  "font-size": (
    "class": "font",
    "values": (
      sm: 0.85rem,
      md: 1rem,
      lg: 1.2rem,
    ),
  ),
  "font-weight": (
    "class": "font",
    "values": (
      light: 300,
      normal: 400,
      bold: 700,
    ),
  ),

  "color": (
    "class": "text",
    "values": $colors,
  ),
);

@each $property, $map in $fonts {
  $class: map-get($map, "class");
  $values: map-get($map, "values");

  @each $attr, $value in $values {
    .#{$class}-#{$attr} {
      #{$property}: $value;
    }
  }
}
